.fieldErrors {
    margin-top: 0.5rem;
    font-size: small;
    color: crimson;
    justify-self: right;
    grid-column: 1/span 2;
  }
  
  .formErrors {
    margin-top: 1rem;
    color: crimson;
    align-self: center; 
    grid-column: 2/span 1; 
  }

  .formSucceeded {
    margin-top: 1rem;
    color: green !important;
    align-self: center; 
    grid-column: 2/span 1; 
    margin-left:1rem;
    display: none;
  }

  .hide{
    display: none;
  }